<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
<!--###  ###-->

<context:annotation-config />
<context:property-placeholder location="classpath:database.properties" />
<!--### Authentication ###-->
<bean id="authenticator" class="com.shiftapp.ws.authentication.Authenticator"></bean>

<!--### MessegingService ###-->
<bean id="SMSMessagingService" class="com.shiftapp.ws.messaging.SMSMessagingService">
	<property name="fromNumber" value="${twilio.fromNumber}" /> 
	<property name="SMSEnabled" value="${twilio.isSMSEnabled}" /> 
</bean>

<bean id="twilioRestClient" class="com.twilio.sdk.TwilioRestClient">
	<constructor-arg index="0" value="${twilio.ACCOUNT_SID}"/>
	<constructor-arg index="1" value="${twilio.AUTH_TOKEN}"/>
</bean>

<!--### RESTful api ###-->
<bean id="identificationAPI" class="com.shiftapp.ws.api.IdentificationAPI"></bean>
<bean id="weekInfoAPI" class="com.shiftapp.ws.api.WeekViewAPI"></bean>


<!--### Services ###-->
<bean id="identificationService" class="com.shiftapp.ws.service.identification.IdentificationService">
	<property name="userPicPath" value="${identificationService.userPicPath}" /> 
</bean>

<bean id="weekInfoService" class="com.shiftapp.ws.service.weekinfo.WeekInfoService"></bean>

<!--### Hibernate config ###-->
<bean id="dataSource"  
  class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
  <property name="driverClassName" value="${database.driver}" />  
  <property name="url" value="${database.url}" />  
  <property name="username" value="${database.user}" />  
  <property name="password" value="${database.password}" />  
 </bean>  
  
 <bean id="sessionFactory"  
  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
  <property name="dataSource" ref="dataSource" />  
  <property name="packagesToScan" value="${hibernate.packagesToScan}"/>    
  <property name="hibernateProperties">  
   <props>  
    <prop key="hibernate.dialect">${hibernate.dialect}</prop>  
    <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>  
    <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>  
   </props>  
  </property>  
 </bean>  
  
 <bean id="txManager"  
  class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
  <property name="sessionFactory" ref="sessionFactory" />  
 </bean>  
  
 <bean id="persistenceExceptionTranslationPostProcessor"  
  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />  

<tx:annotation-driven transaction-manager="txManager"/>
</beans>